@import url("../../common/color-palette.css");

.BlogCard {
  border: 1px solid;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.BlogCard h1 {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.BlogCard h1 {
  color: var(--light-blue);
}

.normalText {
  font-weight: normal;
}

h1.TextButton {
  text-decoration: none;
}

h1.TextButton:hover {
  text-decoration: underline;
}

.TextButton {
  color: var(--light-blue);
  text-decoration: underline;
  cursor: pointer;
  display: inline-block;
}

.BlogCardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.modal {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
